input, samp, code {
    display: block;
}

body {
    color: Black;
}

textarea {
    color: Black;
    background-color: LightYellow;
    resize: vertical;
}

output {
    display: block;
    margin-top: 8pt;
}

article {
    float: left;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
}

#arriba {
    display: none;
}

#interpreter {
    overflow: auto;
    float: left;
    width: auto;
    margin-left: 1em;
}
